.white {
	width: 20px;
	height: 20px;
	background-color: rgb(249, 250, 244);
	border: 1px solid gray;
}

.blue {
	width: 20px;
	height: 20px;
	background-color: rgb(14, 104, 171);
}
.black {
	width: 20px;
	height: 20px;
	background-color: rgb(21, 11, 0);
}
.red {
	width: 20px;
	height: 20px;
	background-color: rgb(211, 32, 42);
}
.green {
	width: 20px;
	height: 20px;
	background-color: rgb(0, 115, 62);
}
