table {
	margin-top: 60px;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: minmax(300px, auto);
	grid-row-gap: 10px;
	justify-items: center;
	margin-top: 60px;
	text-decoration: none;
}

img {
	width: 250px;
}

.pagination {
	justify-content: flex-end;
	padding-right: 40px;
}

.active .page-link {
	z-index: 1 !important;
}

.page-link:hover {
	z-index: 1 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	border-color: red !important;
}

.modal-dialog {
	margin-top: 15% !important;
}

.form-buttons button {
	margin: 0 2px;
}
