<div className="card-list">
	<form className="card-filter">
		<select class="" id="color">
			<option hidden="">Color</option>
			<option>Blue</option>
			<option>Red</option>
		</select>
		<select class="" id="type">
			<option hidden="">Card Type</option>
			<option>Creature</option>
			<option>Sorcery</option>
			<option>Instant</option>
		</select>
		<select class="" id="mana">
			<option hidden="">Converted Mana Cost</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
		<button variant="secondary" size="sm" block>Search Cards</button>
	</form>
	{cards.map((card) => { //
	<div className="mtg-card">
		if (card.image_uris && card.id) { return (
		<div>
			<img src="{card.image_uris.normal}" alt="Magic The Gathering Card" />
			{card.id}
		</div>
		) } else { console.log(card.name) } //
	</div>
	})} {/*
	<img src="{cards[0].image_uris.normal}" alt="Magic The Gathering Card" /> */}
</div>
) } } export default Cards
